/* Set the background color of body to tan */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
 
  color: rgba(0,0,0,.1);
  display: grid;
  font-family: 'Anton', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  color:black;
 
}
.pet-title{
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-top: 20px;
}
.nombre{
  background: #807182;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 0.5rem;
  border-radius:0.5rem;
}
.form-container{
  position:relative;
  margin-top:-6rem;
 }
 .colums-peq{
  width: 250px;
  height: 150px;
 }

.form-group{
  display:flex;
  flex-direction:row;
}
.list{
  display : flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 3rem;
  margin-top:-0.2rem;
}
.left{
  background: #807182;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
  max-height: 21rem;
  padding:2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
img {
  width: 16rem;
  height:16rem;
  border-radius: 0.2rem;
 
}
.title{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin-top:2rem;
  border-radius: 0.2rem;
}
h1{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width:30rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items : center;
  padding: 0.5rem;
  border-radius:0.5rem
} 

.right{
  background: lighten(#F7B1AB, 5%);
  display: flex;
  flex-direction : row;
  padding : 0.2rem;

  align-items : top;
}
.colums{
  width: 250px;
  height: 250px;
}
.form-group{
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  width: 100%;
  padding : 0.2rem;

}
.checkmark {
height: 20px;
width: 20px;
background-color: #eee;
}
.derecha{
  padding : 0.22rem;
  min-width: 250px;
  max-width: 250px;
  max-height: 500px;
  border-bottom: 10rem;
}
.center{
  display : flex;
  flex-direction : column;
  padding : 1.5rem;
  min-width: 250px;
  max-width: 250px;
  max-height: 500px;
  
}
.izquierda{
  display : flex;
  flex-direction : column;
  padding : 1.5rem;
  min-width: 250px;
  max-width: 250px;
  max-height: 500px;
}
.colums-caledario{
  display : flex;
  flex-direction : column;
  padding : 1.5rem;
  min-width: 250px;
  max-width: 250px;
  max-height: 200px;
}
.row{ 
  padding : 1.5rem
}
.butt {
border: 2px solid #d2bdff;
height: 80px;
width: 150px;
border-radius: 4px;
position: relative;
cursor: pointer;
margin: 25px;
} 
.button{
border: 2px solid #d2bdff;
height: 20px;
width: 30px;
border-radius: 4px;
position: relative;
cursor: pointer;
margin: 25px;
}
.submit{
display:flex;
align-items: center;
justify-content: center;
}
.react-calendar {
width: 350px;
max-width: 100%;
background: white;
border: 1px solid #a0a096;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.125em;
border-radius: 0.5rem;
}
.react-calendar--doubleView {
width: 600px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
display: flex;
margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
width: 50%;
margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.react-calendar button {
margin: 0;
border: 0;
outline: none;
}
.react-calendar button:enabled:hover {
cursor: pointer;
}
.react-calendar__navigation {
height: 44px;
margin-bottom: 1em;
}
.react-calendar__navigation button {
min-width: 44px;
background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
text-align: center;
text-transform: uppercase;
font-weight: bold;
font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
display: flex;
align-items: center;
justify-content: center;
font-size: 0.75em;
padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
padding: 2em 0.5em;
}
.react-calendar__tile {
max-width: 100%;
text-align: center;
padding: 0.75em 0.5em;
background: none;
}
.react-calendar__tile:disabled {
background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
background-color: #e6e6e6;
}
.react-calendar__tile--now {
background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
background: #ffffa9;
}
.react-calendar__tile--hasActive {
background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
background: #a9d4ff;
}
.react-calendar__tile--active {
background: #006edc;
color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
background-color: #e6e6e6;
}

