/* Set the background color of body to tan */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    align-items: center;
    background: #D8AA96;
    color:rgba(0,0,0,.8);
    display: grid;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    justify-items: center;
    font-family: 'Anton', sans-serif;
}
.butt {
    border: 2px solid #d2bdff;
    height: 80px;
    width: 200px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    margin: 25px;
  } 
.container{
    background: #F7B1AB;
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    padding : 6rem;
}
.row{ 
    padding : 6rem
}
img{
    width : 50%;
    height : 50%;
    border-radius: 12rem;
}
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    body {
      background-color: lightblue;
    }
    .container{
        display : flex;
        flex-direction : row;
        justify-content : center;
        align-items : center;
        padding : 5rem;
    }
    .row{ 
        padding : 5rem
    }
    img{
        width : 30%;
        height : 30%;
        border-radius: 10rem;
    }

  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
    .container{
        display : flex;
        flex-direction : column;
        justify-content : center;
        align-items : center;
        padding : 2rem;
    }
    .row{ 
        padding : 2rem
    }
    img{
        width : 30%;
        height : 30%;
        border-radius: 10rem;
    }

  }